@page
@model SpaceParkWeb.Pages.CreateCustomerModel
@{
    ViewData["Title"] = "New Customer";
}
<div class="text-center">
    <h1>Create Customer</h1>
    <form name="park" asp-action="OnPost">
        <label for="fname">Name:</label><br>
        <input type="text" id="name" name="name" value="Luke"><br>
        <label for="spaceship">Spaceship:</label><br>
        <input type="text" id="spaceship" name="spaceship" value="X-Wing"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
