@page
@model SpaceParkWeb.Pages.CustomerPageModel

@{
    string state = "";
    SpaceParkWeb.Models.Spaceship spaceship = new Models.Spaceship();
}
@if (!Model.ParkedSpaceship)
{
    state = "Which ship do you wanna park?";
}
else
{
    state = "You have a spaceship docked.";

}

<div class="text-center">
    <h1>@state</h1>
    
    @Html.DropDownListFor(m => m.SpaceShips,
            Model.selectedList);
</div>