@page
@model SpaceParkWeb.Pages.CustomerPageModel

@{
    string state = "";
    
}
@if (!Model.ParkedSpaceship)
{
    state = "Which ship do you wanna park?";
}
else
{
    state = "You have a spaceship docked.";

}

<div class="text-center">
    <h1>@state</h1>

    @using (Html.BeginForm())
    {
        <br />
        @Html.DropDownListFor(m => m.Customer.Spaceships,
            Model.SelectedList);
        <br /><br />
        <input type=submit />
    }


</div>