@page
@model SpaceParkWeb.Pages.CustomerPageModel

@{
    string state = "";
    
}
@if (!Model.ParkedSpaceship)
{
    state = "Which ship do you wanna park?";
}
else
{
    state = "You have a spaceship docked.";

}

<div class="text-center">
    <h1>@state</h1>

    <select asp-for="Customer.Spaceships">
        @foreach (var item in Model.Customer.Spaceships)
        {
            <h6>@item.Name</h6>
        }
    </select>


</div>