@page
@model SpaceParkWeb.Pages.CustomerPageModel

@{
    string state = "";
    
}
@if (!Model.ParkedSpaceship)
{
    state = "Which ship do you wanna park?";
}
else
{
    state = "You have a spaceship docked.";

}

<div class="text-center">
    <h1>@state</h1>

        <form name="spaceship" asp-action="OnPost">
            <label for="spaceship">Choose a Spaceships:</label>
            <select name="spaceships" id="spaceship">
                @foreach (var item in Model.Customer.Spaceships)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
            <br><br>
            <input type="submit" value="Submit">
            <input type="hidden" name="customer" value="@Model.Customer.Name"/>
        </form>
</div>