@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SpacePark</h1>
    <form name="park" method="post" asp-action="OnPost">
        <input name="check" value="NewCustomer" type="radio"/>
        <label for="NewCustomer">New Customer</label>
        <input name="check" value="OldCustomer" type="radio"/>
        <label for="OldCustomer">Old Customer</label>
        <input type="submit" value="Submit">
    </form>
</div>
