@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SpacePark</h1>
    <form name="park" method="post" asp-action="OnPost">
        <input name="check" value="CreateCustomer" type="radio"/>
        <label for="CreateCustomer">Create Customer</label>
        <input name="check" value="LoginCustomer" type="radio"/>
        <label for="LoginCustomer">Login Customer</label>
        <input type="submit" value="Submit">
    </form>
</div>
