@page
@model SpaceParkWeb.Pages.LoginCustomer
@{
    ViewData["Title"] = "Login Customer";
}

<div class="text-center">
    <h1>Login Customer</h1>
    <form name="park" asp-action="OnPost">
        <label for="fname">Name:</label><br>
        <input type="text" id="name" name="name" value="Luke"><br>
        <input type="submit" value="Submit">
    </form>
</div>